@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/src/app/page.module.css');

.ff-jost{
  font-family: "Jost", sans-serif;
}
:root {
  /* =====font-sizes ===== */
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-2xl: 30px;
  --fs-3xl: 36px;
  --fs-4xl:50px;
}
/* =====Font-Sizes===== */
.fs-14{
  font-size: var(--fs-xs);
}
.fs-16{
  font-size: var(--fs-sm);
}
.fs-18{
  font-size: var(--fs-md);
}
.fs-20{
  font-size: var(--fs-lg);
}
.fs-24{
  font-size: var(--fs-xl);
}
.fs-30{
  font-size: var(--fs-2xl);
}
.fs-36{
  font-size: var(--fs-3xl);
}
.fs-50{
  font-size: var(--fs-4xl);
}
/* =====colors===== */
.bg-black{
  background-color: #070808;
}
.text-white{
  color: #ffffff;
}
.text-grey{
  color: #A2A2A2;
}
.text-lightgrey{
  color: #C6C6C6;
}
.text-lightwhite{
  color: #F4F4F4;
}
.text-grey2{
  color: #E4E4E4;
}

